<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    
    <h1>Login</h1>
     <form method="POST" action="/user/login">
        <label for="">Username : </label>
        <input type="text" required name="username">
        <label for="">Password : </label>
        <input type="text " required name="password">

        <button type="submit"> Login</button>
     </form>
</body>
</html>